<h2>You let it out honey, put it in the book...</h2>
<form action"/victim" method="post">
  <label>Name:</label>
  <input type="text" name="name"><br>
  <label>Image:</label>
  <input type="text" image="image"><br>
  <label>Insult:</label>
  <input type="text" insult="insult"><br><br>
  <input type="submit">
</form>
